/* line 3, ../scss/app.scss */
#canvasContainer {
  display: inline-block;
  background-color: #EBECED;
  -webkit-border-radius: 480px;
  -moz-border-radius: 480px;
  -ms-border-radius: 480px;
  -o-border-radius: 480px;
  border-radius: 480px;
  -webkit-box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 9, ../scss/app.scss */
#canvasContainer canvas {
  -webkit-border-radius: 480px;
  -moz-border-radius: 480px;
  -ms-border-radius: 480px;
  -o-border-radius: 480px;
  border-radius: 480px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
