/* line 3, ../scss/app.scss */
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* line 9, ../scss/app.scss */
#canvasContainer {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #EBECED;
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 17, ../scss/app.scss */
#canvasContainer canvas {
  -webkit-box-shadow: inset 2px 2px 0px #aaaaaa;
  -moz-box-shadow: inset 2px 2px 0px #aaaaaa;
  box-shadow: inset 2px 2px 0px #aaaaaa;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 1;
}
/* line 22, ../scss/app.scss */
#canvasContainer #decibels {
  position: absolute;
  width: 4em;
  height: 2em;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-family: sans;
  text-align: center;
  line-height: 2rem;
  color: #4C9ED9;
}

/* line 36, ../scss/app.scss */
button {
  width: 50%;
  height: 2rem;
  border: none;
  background-color: black;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(100%, #333333));
  background: -webkit-linear-gradient(bottom, #000000, #333333);
  background: -moz-linear-gradient(bottom, #000000, #333333);
  background: -o-linear-gradient(bottom, #000000, #333333);
  background: linear-gradient(bottom, #000000, #333333);
  border-bottom: 1px solid #666;
}

/* line 45, ../scss/app.scss */
dl {
  color: white;
}
/* line 47, ../scss/app.scss */
dl dt {
  float: left;
  width: 50%;
}
/* line 51, ../scss/app.scss */
dl dl {
  float: left;
  clear: left;
  width: 50%;
}
